.p-model-deploy {

    padding-top: 0px;

    .title {
        font-size: 16px;
        padding-left: 20px;
        margin-bottom: 25px;
        padding-bottom: 15px;
        color: rgba( 0, 0, 0, 0.85 );
        border-bottom: 1px solid rgba( 0, 0, 0, 0.15 );
    }

    .content-block {
        padding: 0 50px;
    }
}